<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header"); -%>
</head>
<body>
   <header></header> 
   <main>
    <div class="quizzes-container-grid">
        <div id="quizzes-title" class="quizzes">
            <h2>Quiz Time</h2>
        </div>
        <div class="quizzes card" id="capitals-quiz">
            <a href="/capitalsQuiz"><img class="card-img-top" src="./images/capitals.jpg" alt="capitals quiz" />
            <div class="card-body"></a>
                <p>Capital Quest: Unlock the World's Capitals!</p>
            </div>


        </div>
        <div class="quizzes card" id="map-quiz">
            <a href="/countriesQuiz"><img class="card-img-top" src="./images/countries.jpg" alt="countries quiz" />
            <div class="card-body"></a>
                <p>Explore the Globe: Test Your World Knowledge</p>
            </div>

        </div>
    </div>
   </main>
   <footer>
    <%- include("./partials/footer"); -%>
   </footer>
</body>
</html>